app/code/local/GoMage/LegalPerson/etc/wsi.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:typens="urn:{{var wsdl.name}}"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  name="{{var wsdl.name}}"
                  targetNamespace="urn:{{var wsdl.name}}">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:{{var wsdl.name}}">
            <xsd:complexType name="salesOrderAddressEntity">
                <xsd:sequence>
                    <xsd:element name="gm_lp_type" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="gm_lp_tro" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="gm_lp_bank" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="gm_lp_iban" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="gm_lp_pc" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="gm_lp_card" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
</wsdl:definitions>